* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
}

.bg-dark {
    background-color: rgb(21, 21, 21);
}

.navbar-collapse ul li {
    color: #fff;
}

/** 
* Small deer ni .con 720px awaarai
* Medium Tab 768px -- 992px .con 720px
* Medium Tab 992px -- 1200px .con 960px
* medeej wrapper 10px-20px bna
* Tab version min-width: 768px
* Desktop version min-width: 1200px
**/
@media screen and (min-width: 768px) {
    
}