* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
}

.container {
    margin: 0 auto;
    max-width: 1290px;
    height: 800px;
    padding-top: 8rem;
}

.box {
    margin: 0 auto;
    width: 648px;
    height: 648px;
    border: 20px solid lightgreen;
    position: relative;
}

.box-image {
    width: 200px;
    height: 200px;
    background-size: cover;
    object-fit: cover;
}

.absolute-box {
    position: absolute;
    top: -19px;
    left: -19px;
    width: 648px;
    height: 648px;
    border: 20px solid lightgreen;
    overflow: hidden;
}

.box-cover {
    display: inline-block;
    background-color: rgb(27, 27, 27);
    opacity: 0.5;
    width: 200px;
    height: 200px;
    z-index: 2;
    transform: scale(1) translateX(0) translateY(0) rotate(0);
    transition: all 0.5s;
}


#cover11:hover {
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
#cover12:hover {
    transform: scale(2) translateX(0) translateY(-80%) rotate(0);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
#cover13:hover {
    transform: scale(2) translateX(80%) translateY(-80%) rotate(-28deg);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
#cover21:hover {
    transform: scale(2) translateX(-80%) translateY(0) rotate(0);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
#cover22:hover {
    transform: scale(2) translateX(0) translateY(0) rotate(0);
    opacity: 0;
    transition: all 0.5s ease-out;
}
#cover23:hover {
    transform: scale(2) translateX(80%) translateY(0) rotate(0);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
#cover31:hover {
    transform: scale(2) translateX(-80%) translateY(80%) rotate(0);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
#cover32:hover {
    transform: scale(2) translateX(0) translateY(80%) rotate(0);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
#cover33:hover {
    transform: scale(2) translateX(80%) translateY(80%) rotate(0);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

